* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
iframe{
	border:0;
}
.About_all {
	background: url(../images/background.png);
	width: 100%;
	overflow: hidden;
	padding:30px 0 40px 0px;
}

.left_bg {
	background: orange;
	color: white;
}

.About_bg {
	width: 100%;
	height: 800px;
}
.About_box {
	width: 1000px;
	margin: 0px auto;
}
.About_nobi2{
	opacity: 0;
}
.clickleft:hover .About_nobi2{
	opacity:1;
}
.clickleft:hover span{
	color: white;
}
.clickleft:hover .About_nobi{
	opacity:0;
}
.About_left_sidebar {
	width: 265px;
	border-radius: 10px;
	background: white;
	float: left;
	margin-bottom: 50px;
}
.About_star {
	height: 48px;
	text-align: center;
	padding-top: 40px;
}
.About_star>p {
	margin-top: -30px;
	font-size: 20px
}
.About_left_sidebar>ul>a>li {
	margin-left: 14px;
	list-style: none;
	line-height: 61px;
	width: 235px;
	height: 61px;
	color: #0068b5;
	border-bottom: 1px dashed lightgray;
	position: relative;
	
}
.About_left_sidebar>ul>a>li>img:nth-child(2){
	position: absolute;top:23px; left:10px;
}
.About_left_sidebar>ul>a>li>span{
	position: absolute;top: 0;left:50px;font-size:20px;color:#0068b5; ;
}

/*轮播图      */
.leftBottom {
	width: 233px;
	height: 440px;
	float: left;
	margin-left: 17px;
	margin-top: 60px;
	margin-bottom: 60px;
	background:rgb(245,248,249);
}
 .leftBottom .turnTitle{
	font-size:20px;
	margin-top:40px;
	margin-left:15px;
	position: relative;
}
 .leftBottom .turnTitle .logo{
	width:14px;
	height:14px;
	background:url(../images/right.png) no-repeat;
	position:relative;
	left:155px;
	top:-16px;
}
 .leftBottom .turnBody{
	width:235px;
	height:326px;
	position:relative;
	overflow:hidden;
}
.leftBottom .turnBody .turnBtn{
	width:14px;
	height:14px;
	position:absolute;
	top:50px;
}
.leftBottom .turnBody .turnBtn:hover{
	cursor: pointer;
}
 .leftBottom .turnBody .leftBtn{
	background:url(../images/left.png);
	left:40px;
}
.leftBottom .turnBody .rightBtn{
	background:url(../images/right.png);
	right:40px;
}
.leftBottom .turnBody .turnHide{
	width:5000px;
	height:326px;
}
.leftBottom .turnBody .turnHide .turnPart{
	width:235px;
	height:326px;
	/*background: lemonchiffon;*/
	position:relative;
	float: left;
}
 .leftBottom .turnBody .turnHide .turnPart .turnPic{
	width:150px;
	height:115px;
	position:absolute;
	left:40px;
	top:0;
}
 .leftBottom .turnBody .turnHide .turnPart .turnContent1{
	width:200px;
	font-size: 16px;
	position:absolute;
	top:150px;
	height:35px;
	left:10px;
	/*border: 1px solid red;*/
	overflow:hidden;
}
 .leftBottom .turnBody .turnHide .turnPart .turnContent2{
	width:200px;
	font-size: 14px;
	position:absolute;
	top:210px;
	height:82px;
	left:10px;
	color:#666666;
	overflow:hidden;
}
 .leftBottom .turnBody .turnHide .turnPart .readMore{
	position:absolute;
	bottom: 10px;
	right:30px;
	color:orange;
	font-size:14px;
}
 .turnBody .turnHide .turnPart .readMore .moreRight{
	position:absolute;
	right:-20px;
	width:14px;
	height:14px;
	background:url(../images/right.png);
	top:0;
	display:block;
}

/*右边显示内容 右边显示内容右边显示内容右边显示内容右边显示内容  ------------------------------------- */

.About_content {
	float: right;
	padding-top: 29px;
	width: 700px;
	border-radius: 10px;
	background: white;
	margin-bottom: 50px;
}
.About_content_top {
	margin-top: 13px;
	margin-left: 26px;
	width: 648px;
	height: 47px;
	background: #f5f8f9;
}
.About_content_top>span:nth-child(1) {
	line-height: 47px;
	color: #0068b5;
	font-size: 24px;
	margin-left: 10px
}

.About_content_top>span:nth-child(2) {
	font-size: 14px;
	color: #666666;
	line-height: 47px;
	float: right;
}
/*contact  info 显示容器  含地图区*/
.Contact_KONIG{
	width: 646px;
	margin-left: 26px;
}
.Contact_KONIG>strong{
	font-size: 24px;font-weight: bold;
}
.Contact_KONIG>span{
	font-size: 14px;
	line-height: 30px;
}
.Contact_KONIG>span>a{
	color:blue;
}
.contact_map{
	width: 550px;
	height: 340px;margin-left: 26px;
	margin-bottom: 150px;

}
.About_content_Histroy {
	display: none;
}

.About_content_Concepts {
	display: block  ;
}


/*contact online  容器*/
.Contact_table{
	width: 644px;
	height:472px;
	margin:0px 0 50px 26px;
}
.Contact_table>div{display: inline-block;margin:20px 0 0 0px;font-size: 8px;width: 311px}
.Contact_table>div>input{
	width: 269px;
	height: 20px;
	color: blue;
	margin-top: 5px;
}
.Contact_table>div>span>{
	
}
.Contact_textarea{
	width: 590px;
}
.Contact_textarea>textarea{
	width: 590px;
	height: 100px;
	margin-top: 5px;
}
.Contact_submit>li{display: inline-block;}
.Contact_submit>li>input{
	width: 127px ;
	height:38px;
	margin-top: 30px;
	border: 1px orange solid;
	border-radius: 5px;
	font-size: 20px;
}
.submit1{
	background: orange;color:white;
}
.submit2{
	background: white;color:orange;
	margin-left: 30px;
}





/*/////////////////////////////*/
