*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a{
	color: black;
}
a:visited{
	color: black;
}
iframe{
	border:0;
}
section{
	width: 100%;
	background: url(../images/background.png);
	margin: 0 auto;
	overflow: hidden;
}
section .center{
	padding-top: 30px;
	padding-bottom: 40px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
		
}
/*左侧边栏*/
.sidebar{
	width: 26.5%;
	background-color: white;
	border-radius: 4px;
	float: left;
}
.sidebar .nav{
	padding: 35px 16px 60px 17px;
}
.sidebar .nav .FeedingList{
	width: 232px;
	font-size: 20px;
	line-height: 61px;
	border-top:1px dashed #e5e5e5;
	border-bottom:1px dashed #e5e5e5;
}
.sidebar .nav .FeedingList a{
	color: #0068b7;
	margin-left: 10px;
}
.sidebar .nav .FeedingList img{
	vertical-align: middle;	
}
.sidebar .nav .FeedingList:hover span{
	color: white;
}
.sidebar .nav .FeedingList:hover img{
	opacity: 0;
}
.sidebar .nav .FeedingList:hover{
	background: url(../images/nobi2.png);
}
.sidebar .nav .FeedingList:nth-child(1){
	height: 41px;
	color: black;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	border-top:2px solid #0068b5;
	background: url(../images/star.png);
}
.sidebar .nav .FeedingNews{
	background-color: #f5f8f9;
	border-radius: 5px;
	margin-top: 50px;
	padding: 20px 10px 0px 10px;
}
.sidebar .nav .FeedingNewsTitle{
	font-size: 20px;
	line-height: 40px;
}
.sidebar .nav .FeedingNewsTitle img{
	margin-left: 10px;
}
.sidebar .nav .FeedingNews .FeedingNewsLeft{
	width: 14px;
	height: 14px;
	background: url(../images/left.png) no-repeat;
	position: absolute;
	top: 50px;
	left: 0px;
}
.sidebar .nav .FeedingNews .FeedingNewsRight{
	width: 14px;
	height: 14px;
	background: url(../images/right.png) no-repeat;
	position: absolute;
	top: 50px;
	right: 0px;
}
.sidebar .nav .FeedingNewsProduct{
	height: 325px;
	width: 180px;
	font-size: 20px;
	overflow: hidden;
	position: relative;
}
.sidebar .nav .FeedingNewsProducts{
	width: 180px;
	position: absolute;
	top: 0px;
	left: 185px;
	/*left: -185px;*/
}
.sidebar .nav .FeedingNewsProductsDefault{
	left: 0px;
}
.sidebar .nav .FeedingNewsProductImg{
	width: 150px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.sidebar .nav .FeedingNewsProductIntro{
	margin-top: 30px;
	font-size: 14px;
}




/*右侧边栏*/
.products{
	width: 64%;
	background-color: white;
	padding: 3%;
	border-radius: 4px;
	float: right;
}
.products .ProductHeader{
	line-height: 21px;
	margin-bottom: 50px;
	padding: 13px;
	background-color: #f5f8f9;
	overflow: hidden;
}
.products h2{
	float: left;
}
.products .ProductPath{
	float: right;
	line-height: 21px;
	font-size: 12px;
	font-weight: 700;
}
.products .ProductLis{
	width: 30%;
	height: 250px;
	float: left;
}
.products .ProductLis:nth-child(3n+2){
	margin-left: 3%;
	margin-right: 3%;
}
.products .ProductLi{
	height: 134px;
	border: 1px solid #edeeef;
	border-radius: 5px;
	background:-webkit-radial-gradient(circle,white 65%, #f3f7f8 85%);
	background:-moz-radial-gradient(circle,white 65%, #f3f7f8 85%);
	background:-0-radial-gradient(circle,white 65%, #f3f7f8 85%);
}
.products .ProductLi img{
	margin-top: -1px;
}
.products .ProductName{
	height: 120px;
	margin-top: 15px;
	line-height: 20px;
	color: #0068b7;
	text-align: center;
}
.products .ProductName:hover{
	color: #f6921c;

}