*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a{
	color: black;
}
a:visited{
	color: black;
}
iframe{
	border:0;
}
section{
	width: 100%;
	background: url(../images/background.png);
	margin: 0 auto;
	overflow: hidden;
}
section .center{
	padding-top: 30px;
	padding-bottom: 40px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
}
/*左侧边栏*/
.sidebar{
	width: 26.5%;
	background-color: white;
	border-radius: 4px;
	float: left;
}
.sidebar .nav{
	padding: 35px 16px 60px 17px;
}
.sidebar .nav .ProductsList{
	width: 232px;
	font-size: 20px;
	line-height: 61px;
	border-top:1px dashed #e5e5e5;
	border-bottom:1px dashed #e5e5e5;
}
.sidebar .nav .ProductsList .title{

}
.sidebar .nav .ProductsList a{
	color: #0068b7;
}
.sidebar .nav .ProductsList:hover span{
	color: #f6921c;
}
.sidebar .nav .ProductsList:nth-child(1){
	height: 41px;
	color: black;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	border-top:2px solid #0068b5;
	background: url(../images/star.png);
}
.sidebar .nav .ProductsList img{
	vertical-align: middle;	
}
.sidebar .nav .ProductMenu{
	font-size: 16px;
	line-height: 48px;
	padding-left: 25px;
	list-style: none;
	background:-webkit-radial-gradient(circle,black 2px, white 4px);
	background-position:-96px center;
}
.sidebar .nav .ProductMenu:hover{
	background:-webkit-radial-gradient(circle,white 2px, #f6921c 4px);
	color: white;
	background-position:-96px center;
}
.sidebar .nav .NavHid{
	display: none;
}
/*右侧边栏*/
.CenterRight{
	width: 64%;
	background-color: white;
	padding: 3%;
	border-radius: 4px;
	float: right;
}
.CenterRight .CenterRightHeader{
	line-height: 21px;
	margin-bottom: 50px;
	padding: 13px;
	background-color: #f5f8f9;
	overflow: hidden;
}
.CenterRight h2{
	float: left;
}
.CenterRight .CenterRightPath{
	float: right;
	line-height: 21px;
	font-size: 12px;
	font-weight: 700;
}
.CenterRight .Details{
	overflow: hidden;
}
.CenterRight .Details .ProductLis{
	width: 30%;
	height: 250px;
	float: left;
}
.CenterRight .Details .ProductLis:nth-child(3n+2){
	margin-left: 3%;
	margin-right: 3%;
}
.CenterRight .Details .ProductLi{
	height: 134px;
	border: 1px solid #edeeef;
	border-radius: 5px;
	background:-webkit-radial-gradient(circle,white 65%, #f3f7f8 85%);
	background:-moz-radial-gradient(circle,white 65%, #f3f7f8 85%);
	background:-0-radial-gradient(circle,white 65%, #f3f7f8 85%);
}
.CenterRight .Details .ProductLi img{
	margin-top: -1px;
}
.CenterRight .Details .ProductName{
	height: 120px;
	margin-top: 15px;
	line-height: 20px;
	color: #0068b7;
	text-align: center;
}
.CenterRight .Details .ProductName:hover{
	color: #f6921c;
}
/*分页部分*/

.CenterRight .link .pageInfo{
	float: left;
}
.CenterRight .link .pageInfo{
	font-weight: bold;
	font-size: 17px;
}
.CenterRight .link .next{
	color: #0068b7;
	cursor: pointer;
	float: right;
	margin-left:10px;
}
.CenterRight .link .last{
	color: #0068b7;
	cursor: pointer;
	float: right;
	margin-right:10px;
}
.CenterRight .link .next .omit{
	margin-left: 10px;
}
.CenterRight .link .page{
 	float: right;
}
.CenterRight .link .page .num{
	color: #0068b7;
	cursor: pointer;
}
.CenterRight .link .page .num.active{
	color: lightgray;
}